@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
  }
  
  
  @layer utilities {
    .text-balance {
      text-wrap: balance;
    }
  }
  
  /* defined tailwind animation */
@keyframes expend-width {
  from {
    width: 5rem;
  }
  to{
    width : 30rem;
  }
}
.expend-width{
  animation:expend-width 1s forwards ;
}